<%- include('layout-top', {}) %>
<main>
    <login>
        <login-title class="account-title">Zaloguj się</login-title>
        <box-name>E-mail</box-name>
        <input class="input" type="email" name="E-mail" id="E-mail">
        <box-name>Hasło</box-name>
        <input class="input" type="password" name="hasło" id="Hasło">
        <button class="login-btn">Zaloguj się</button>
    </login>
    <span class="space"></span>
    <rejestracja>
        <rejestracja-title class="account-title">Załóż konto</rejestracja-title>
        <box-name>Imię</box-name>
        <input class="input" type="Imie">
        <box-name>Nazwisko</box-name>
        <input class="input" type="Nazwisko">
        <box-name>E-mail</box-name>
        <input class="input" type="email" name="E-mail" id="">
        <box-name>Hasło</box-name>
        <input class="input" type="password" name="Hasło" id="">
        <button class="register-btn">Załóż konto</button>
    </rejestracja>
</main>
<%- include('layout-bottom', {}) %>