<%- include('layout-top', {}) %>
<main>
    <login>
        <login-title>Zaloguj się</login-title>
        <input class="input" type="email" name="E-mail" id="E-mail">
        <input class="input" type="password" name="hasło" id="Hasło">
        <button class="login-btn">Zaloguj się</button>
    </login>
    <span class="space"></span>
    <rejestracja>
        <rejestracja-title>Załóż konto</rejestracja-title>
        <input class="input" type="Imie">
        <input class="input" type="Nazwisko">
        <input class="input" type="email" name="E-mail" id="">
        <input class="input" type="password" name="Hasło" id="">
        <button class="register-btn">Załóż konto</button>
    </rejestracja>
</main>
<%- include('layout-bottom', {}) %>