<%- include('layout-top', {}) %>
<main>
    To jest konto.<br><br>

    Linki:<br>
    <a href="/">Strona główna</a><br>
    <a href="/logout">Wyloguj się</a><br>
    <a href="/settings">Ustawienia administratora (placholder)</a><br>
</main>
<%- include('layout-bottom', {}) %>