<%- include('layout-top', {static_correction: './', categories: locals.categories}) %>
<main class='main-list'>
    <script>
        window.addEventListener('load', (event) => {
            (async () => {
                const response = await fetch('/api/mainpage');
                const data = await response.json();

                const div = document.getElementById('main-div');
                
                for (let i of data) {
                    div.innerHTML += `<prod class="product"> <img src="./../img/${i.image}" alt="img" width="231" height="200"> <a href="/product/${i.product_id}">${i.name}</a> <price>2021 zł</price> </prod>`;
                }
            })();
        });
    </script>

    <div class='item-list'>
        <h3>Wszystkie produkty:</h3>
    
        <all-items id="main-div">
        </all-items>
    </div>
   
</main>
<%- include('layout-bottom', {}) %>