<%- include('layout-top', {static_correction: './', categories: locals.categories}) %>
<main class='main-list'>
    <script>
        window.addEventListener('load', (event) => {
            (async () => {
                const response = await fetch('/api/mainpage');
                const data = await response.json();

                const div = document.getElementById('main-div');
                
                for (let i of data) {
                    div.innerHTML += `<a href="/product/${i.product_id}">${i.name}</a>`;
                }
            })();
        });
    </script>

    <div class='item-list'>
        <h3>Wszystkie produkty:</h3>
        
        <category id="main-div" class="ul-category">
        </category>    
    </div>
   
</main>
<%- include('layout-bottom', {}) %>