<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Najlepszy sklep w sieci! Wsiadaj i znajdź sobie coś ładnego :)">
    <meta name="keywords" content="sklep, store, internetowy">
    <meta name="author" content="Wiktor Ogrodnik i Michał Mróz">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weppo Store</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <header>
        <div id="header-top">
            <div id="logo" class="header-element">Weppo_Store</div>
            <div id="search-box" class="header-element">
                <input type="text">
                <button>Szukaj</button>
            </div>
            <div id="header-panel" class="header-element">
                <div id="header-panel-row1">
                    Konto
                    Kontakt
                </div>
                <div id="header-panel-row2">
                    Historia Zakupów
                    Koszyk
                </div>
            </div>
            <div class="stop"></div>
        </div>
        <div id="header-menu">
            <div class="menu-element">Kategoria 1</div>
            <div class="menu-element">Kategoria 2</div>
            <div class="menu-element">Kategoria 3</div>
            <div class="menu-element">Kategoria 4</div>
            <div class="menu-element">Kategoria 5</div>
            <div class="menu-element">Kategoria 6</div>
            <div class="menu-element">...</div>
            <div class="menu-element">Kategoria n</div>
            <div class="stop"></div>
        </div>
    </header>