<empty-cart>
    <title class='empty-cart-title'><%= locals.message %></title>
    <title class='empty-cart-description'>Szukasz inspiracji?</title>
    <a href="<%= locals.static_correction %>/" class='cart-homepage-btn'>Przejdź do strony głównej</a>
</empty-cart>