<%- include('layout-top', {}) %>
<main>
    <product>
        <img class="product-img" src="https://cdn.discordapp.com/attachments/337604284902539264/928388070728957992/picture.jpg" alt="" width="300" height="300">

        <button class="add-to-cart">Dodaj do koszyka</button>

        <description>
            <product-title>Laptop Mrożona</product-title>
            <opis-title>Opis</opis-title>
            Laptop idealny do grania jak i pracy biurowej. Posiada wiele zalet
        </description>
    </product>  
</main>
<%- include('layout-bottom', {}) %>