<%- include('layout-top', {}) %>
<main class="main-purchase-history">
    <h1>Historia Zamówień</h1>

    <div class="history-box">
    <% for (let i of orders) { %>
        <a href='../orders/<%= i.order_id %>' class="single-order">
            <div class="order-info">
                <span class="order-header">Status</span>
                <span>data zamówienia</span>
                <span>numer zamówienia</span>
                <span>łączny koszt zł</span>
            </div>
            <div class="order-pictures">

            </div>
        </a>
    <% } %>
    </div>
</main>
<%- include('layout-bottom', {}) %>