<%- include('layout-top', {}) %>
<main>
    <h1>Historia Zamówień</h1>

    <div class="history-box">
        <div class="single-order">

        </div>

        
    </div>
</main>
<%- include('layout-bottom', {}) %>