<%- include('layout-top', {}) %>
<main>
    To są ustawienia.<br><br>

    Linki:<br>
    <a href="/">Strona główna</a><br>
    <a href="/settings">Ustawienia</a><br>
    <a href="/account">Konto</a><br>
</main>
<%- include('layout-bottom', {}) %>